body {
    font-family: "Courier New", Roboto, sans-serif;
    background-color: rgb(247, 243, 239);
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 10px 20px;
}

button {
    font-family: inherit;
    background-color: rgb(10, 10, 10);
    color: rgb(230, 230, 230);
}

.container {
    width: 500px;
    margin: 0 auto;
}

.score {
    font-size: 25px;
}

.result-message {
    font-size: 30px;
}

.typed-out {
    overflow: hidden;
    border-right: 3px solid black;
    width: 0;
    animation: typing 1s steps(20, end) forwards, blinking 1s steps(1, end) infinite;
    white-space: nowrap;
}

.result-box {
    display: inline-block;
}

.buttons {
    width: 500px;
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

#reset {
    margin-top: 50px;
    margin-left: 10px;
    display: none;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    0% { border-right-color: transparent }
    50% { border-right-color: black }
}